<section class="container-fluid" id="home">
  <h2>Ola, sou o Fabiano</h2>
  <h1>Desenvolvedor full-stack.</h1>
  <p>
    Tenho um ano de experiência na área. No meu dia a dia, mergulho no mundo do
    desenvolvimento com mais diversas ferramentas.
  </p>
  <button class="btn">Entrar em contato</button>
</section>
<section class="container-fluid" id="projects">
  <div class="project-col-1">
    <div class="project-wrapper auditore">
      <img
        width="752"
        height="752"
        src="assets/images/projects/auditore.png"
        alt=""
      />
    </div>
    <div class="texts">
      <h2>Projetos que colaborei</h2>
      <p>
        Sou o Fabiano, um programador full stack apaixonado por transformar
        linhas de código.
      </p>
    </div>
  </div>
  <div class="project-col-2">
    <div class="project-wrapper takeback">
      <img
        width="625"
        height="625"
        src="assets/images/projects/takeback.png"
        alt=""
      />
    </div>
    <div class="project-wrapper byd">
      <img
        width="565"
        height="933"
        src="assets/images/projects/byd.png"
        alt=""
      />
    </div>
  </div>
</section>
<section id="skills">
  <app-slider></app-slider>
</section>
<section id="contact">
  <app-contact></app-contact>
</section>
