h2 {
  color: #FCFCFC;
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 3.125rem;
  margin-left: 5rem;
}

.input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 38.1875rem;

  input {
    background-color: transparent;
    color: #FCFCFC;
    border: none;
    border-bottom: 2px solid #8E8A8A;
    padding-block: 0.625rem 2rem;
    font-size: 2rem;
    font-weight: 400;
    width: 100%;

    &::placeholder {
      color: #8E8A8A;
    }
  }

  button {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
  }
}

.contact-form {
  margin-bottom: 12.5rem;
  padding-left: 5rem;
}

.contacts > div {
  padding: 2.5rem 0 2.5rem 5rem;
  border-top: 1px solid #8E8A8A;
  border-bottom: 1px solid #8E8A8A;
}
