/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
}

body {
  background: linear-gradient(110deg, #000 -3.35%, #0500FF 368.6%);
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.btn {
  color: white;
  border-radius: 2.5rem;
  border: 1px solid #FFF;
  padding: 1.25rem 2.5rem;
  font-size: 1.5rem;
  font-weight: 500;

  &:hover {
    border-color: #FFF;
  }
}
