<h2>Linguagens</h2>
<div class="slider">
  <div class="slide-track">
    <div class="slide">
      <img
        src="assets/images/skills/angular.png"
        height="80"
        width="80"
        alt=""
      />
    </div>
    <div class="slide">
      <img src="assets/images/skills/react.png" height="80" width="80" alt="" />
    </div>
    <div class="slide">
      <img
        src="assets/images/skills/javascript.png"
        height="80"
        width="80"
        alt=""
      />
    </div>
    <div class="slide">
      <img src="assets/images/skills/node.png" height="80" width="80" alt="" />
    </div>
    <div class="slide">
      <img
        src="assets/images/skills/typescript.png"
        height="80"
        width="80"
        alt=""
      />
    </div>
    <div class="slide">
      <img src="assets/images/skills/html.png" height="80" width="80" alt="" />
    </div>
    <div class="slide">
      <img
        src="assets/images/skills/wordpress.png"
        height="80"
        width="80"
        alt=""
      />
    </div>
    <div class="slide">
      <img src="assets/images/skills/sql.png" height="80" width="80" alt="" />
    </div>
    <div class="slide">
      <img src="assets/images/skills/next.png" height="80" width="80" alt="" />
    </div>
    <div class="slide">
      <img src="assets/images/skills/css.png" height="80" width="80" alt="" />
    </div>
    <div class="slide">
      <img
        src="assets/images/skills/angular1.png"
        height="80"
        width="80"
        alt=""
      />
    </div>
    <div class="slide">
      <img
        src="assets/images/skills/angular2.png"
        height="80"
        width="80"
        alt=""
      />
    </div>
    <div class="slide -clone">
      <img
        src="assets/images/skills/angular.png"
        height="80"
        width="80"
        alt=""
      />
    </div>
    <div class="slide -clone">
      <img src="assets/images/skills/react.png" height="80" width="80" alt="" />
    </div>
    <div class="slide -clone">
      <img
        src="assets/images/skills/javascript.png"
        height="80"
        width="80"
        alt=""
      />
    </div>
    <div class="slide -clone">
      <img src="assets/images/skills/node.png" height="80" width="80" alt="" />
    </div>
    <div class="slide -clone">
      <img
        src="assets/images/skills/typescript.png"
        height="80"
        width="80"
        alt=""
      />
    </div>
    <div class="slide -clone">
      <img src="assets/images/skills/html.png" height="80" width="80" alt="" />
    </div>
    <div class="slide -clone">
      <img
        src="assets/images/skills/wordpress.png"
        height="80"
        width="80"
        alt=""
      />
    </div>
    <div class="slide -clone">
      <img src="assets/images/skills/sql.png" height="80" width="80" alt="" />
    </div>
    <div class="slide -clone">
      <img src="assets/images/skills/next.png" height="80" width="80" alt="" />
    </div>
    <div class="slide -clone">
      <img src="assets/images/skills/css.png" height="80" width="80" alt="" />
    </div>
    <div class="slide -clone">
      <img
        src="assets/images/skills/angular1.png"
        height="80"
        width="80"
        alt=""
      />
    </div>
    <div class="slide -clone">
      <img
        src="assets/images/skills/angular2.png"
        height="80"
        width="80"
        alt=""
      />
    </div>
  </div>
</div>
